* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main figure img {
  border-radius: 50%;
}

section, h1 {
  background-color: var(--background);
}

@media only screen and (max-width: 500px) {
  main figure img {
    width: 80vw;
    height: 80vw;
    position: fixed;
    top: 20vh;
    left: 10vw;
  }

  main h1 {
    width: 40vw;
    height: 40vw;
    position: fixed;
    top: calc(20vh + 20vw);
    left: 30vw;
    z-index: 1;
    padding: 15px;
    text-align: center;
    background-color: RGBA(255, 255, 255, 0.5)
  }

  main section {
    width: 64vw;
    position: fixed;
    top: calc(20vh + 80vw + 10vh);
    left: 18vw;
    padding: 15px;
    font-size: 80%;
  }

  main nav {
    background-color: var(--primary);
  }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
  figure {
    grid-area: image;
    display: flex;
    background-color: var(--background);
  }

  img {
    width: 80%;
    height: auto;
    margin: auto;
  }

  h1 {
    grid-area: title;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section#Description {
    grid-area: descr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  section#CTA {
    grid-area: _CTA_;
    background-color: var(--background);
    display: flex;
    align-items: center;
  }

  section#CTA p {
    background-color: var(--primary);
    flex: 20%;
  }

  main {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
      "image image image image image image title title title title title title "
      "image image image image image image title title title title title title "
      "image image image image image image title title title title title title "
      "image image image image image image title title title title title title "
      "image image image image image image _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ "
      "image image image image image image _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ "
      "image image image image image image _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ "
      "image image image image image image _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ "
      "image image image image image image _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ _CTA_ "
      "  .     .     .   descr descr descr descr descr descr   .     .     .   "
      "  .     .     .   descr descr descr descr descr descr   .     .     .   "
      "  .     .     .   descr descr descr descr descr descr   .     .     .   "
      "  .     .     .   descr descr descr descr descr descr   .     .     .   "
  }
}