:root {
  --primary: #38BA43;
  --secondary: #BA6D25;
  --tertiary: #130D21;
  --background: white;
  --font: #0A0603;
}

* {
  box-sizing: border-box;
  background-color: inherit;
}

.navbar>* {
  background-color: inherit;
  z-index: 5;
}

.nav-item {
  padding: 15px;
}

html {
  background-color: var(--background);
  color: var(--font);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100%;
  flex: 9%;
}

main {
  flex: 80%;
  width: 100%;
}

footer {
  width: 100%;
  flex: 9%;
  background-color: #343a40;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer * {
  color: inherit;
  text-decoration: inherit;
}